Source: lliurex-preseed
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: cdbs, debhelper (>= 7), llxcfg-dev
Standards-Version: 3.9.5

Package: lliurex-preseed-common
Pre-Depends: ${misc:Depends}, perl, debconf-utils
Architecture: all
Description: LliureX Preseed system suite
 Simple tool to manage preseed under LliureX

Package: lliurex-preseed-ocsagent
Pre-Depends: ${misc:Depends}, lliurex-preseed-common (>= 0.4)
Architecture: all
Description: Simple preseed for ocs-agent
 This is a simple preseed for ocs-agent

Package: lliurex-preseed-nslcd
Pre-Depends: ${misc:Depends}, lliurex-preseed-common (>= 0.4)
Architecture: all
Description: Simple preseed for nslcd
 This is a simple preseed for nslcd

Package: lliurex-preseed-moodle
Pre-Depends: ${misc:Depends}, lliurex-preseed-common (>= 0.4)
Architecture: all
Description: Simple preseed for moodle
 This is a simple preseed for moodle

Package: lliurex-preseed-libnss-ldapd
Pre-Depends: ${misc:Depends}, lliurex-preseed-common (>= 0.4)
Architecture: all
Description: Simple preseed for libnss-ldapd
 This is a simple preseed for libnss-ldapd
